 <form action="" method="POST" enctype="multipart/form-data">

        <label for="name">Name</label>
        <input  type="text" name="name" placeholder="Kiran" autocomplete="off" required />
     
        <label for="price">Phone</label>
        <input class="form-control" type="number" name="Phone" placeholder="+91" autocomplete="off" required />
      
        <label for="location">Year</label>
        <input class="form-control" type="number" name="year" id="year" placeholder="I" autocomplete="off" />
      
        <label for="description">PIN</label>
        <input class="form-control" type="number" name="PIN" placeholder=" 22153....."  height="100" autocomplete="off" />
      
        <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      
        <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      
        <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      
        <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      
        <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      
       <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      
      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Submit!</button>
      </div>
    </form>

